src/ressources/WADL examples/Myapplication.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
<doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.19.3 10/24/2016 03:43 PM"/>
<grammars>
<include href="application.wadl/xsd0.xsd">
<doc title="Generated" xml:lang="en"/>
</include>
</grammars>
<resources base="http://localhost:8084/RESTWS/">
<resource path="/catalogue">
<resource path="/categories">
<method id="consulterCategories" name="GET">
<response>
<representation mediaType="application/json"/>
</response>
</method>
</resource>
<resource path="/produits/{idProd}">
<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="idProd" style="template" type="xs:long"/>
<method id="getProduit" name="GET">
<response>
<representation mediaType="application/json; charset=utf-8"/>
</response>
</method>
</resource>
<resource path="/categories/{idCat}">
<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="idCat" style="template" type="xs:long"/>
<method id="getCategories" name="GET">
<response>
<representation mediaType="application/json; charset=utf-8"/>
</response>
</method>
</resource>
<resource path="/{idCat}/produits/">
<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="idCat" style="template" type="xs:long"/>
<method id="produitParDesi" name="GET">
<request>
<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="mc" style="query" type="xs:string"/>
</request>
<response>
<representation mediaType="application/json; charset=utf-8"/>
</response>
</method>
</resource>
<resource path="/categories/{idCat}/produits">
<param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="idCat" style="template" type="xs:long"/>
<method id="produitParCat" name="GET">
<response>
<representation mediaType="application/json; charset=utf-8"/>
</response>
</method>
</resource>
<resource path="/categories/post">
<method id="saveCategorie" name="POST">
<request>
<representation mediaType="application/json"/>
</request>
<response>
<representation mediaType="application/json"/>
</response>
</method>
</resource>
</resource>
</resources>
</application>